<html>
  <head>
    <title>Lilyx XIII Web Developer</title>
  </head>
  <body>
  <!-- Header as a partial -->
    <main>
      {{ content | safe }}
    </main>
    <!--footer as a partial --> 
  </body>
</html>